@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/* Variables */

:root {
    --color-white: #FFFFFF;
    --color-grey: #677489;
    --color-grey-light: #F2F5F9;
    --color-black: #111729;

    --radius: 6px;

    --font-1: 'Lato', sans-serif;
    --font-2: 'Poppins', sans-serif;
}

/* Reset some default styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Styles for card */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    background-color: var(--color-grey-light);
}

.card {
    width: 406px;
    border-radius: var(--radius);
    background-color: var(--color-white);
    outline: 2px solid #11172900;
    transition: outline .2s;
}
.card:hover {
    cursor: pointer;
    outline: 1px solid var(--color-grey);
}

/* Card hero */

.card-hero {
    width: 100%;
    position: relative;
}
.card-hero__image {
    border-radius: var(--radius);
    object-fit: cover;
}
.card-hero__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    object-fit: cover;
}

/* Card content */

.card-content {
    padding: 1.5rem 2rem;
    padding-top: 0;
}
.card-content__title {
    font-family: var(--font-2);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    padding-bottom: 1rem;
    color: var(--color-black);
}
.card-content__description {
    font-family: var(--font-1);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-grey);
}

/* Card author */

.card-author {
    border-top: 1.5px solid var(--color-grey-light);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 16px;
}
.card-author__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.card-author__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}
.card-author__title {
    color: var(--color-black);
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 1rem;
}
.card-author__description {
    color: var(--color-grey);
    font-family: var(--font-1);
    font-size: .8rem;
}

